@import "variables";

.loading {
  padding-top: 100px;
}

nav {
  margin-bottom: 24px;
/*   background-color:$blue; */
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}

/* .page-footer{
  background-color:$blue !important;
}
 */

body{
  background-color:$backgroundColor
}
