<template name="home">
 <div class="template-home">
  <h1>Welcome to <span class='smallStuff'>thething...and stuff</span></h1>
  <!--   <div class="card-panel">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div> -->

  <div class="parallax-container">
    <div class="parallax">
      <img src="images/parallax1.jpg">
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">App Info!</h2>
    </div>

      <div class="row">
      <div class="col s12">
        <div class="card-panel orange darken-2">
          <span class="white-text"><h4>The goal (well one of the goals) of beerSnob is to connect you to the beers you love
            in a place where you'll love to drink them. Like this one!</h4>
          </span>
          <div class="map-container">
          {{> googleMap name="jesterKing" options=jesterMapOptions}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
</template>
